# Chapter 1 - Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions

This notebook contains code accompanying Chapter 1 Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions in *Practical Discrete Mathematics* by Ryan T. White and Archana Tikayat Ray

## Functions and Relations

### The `sort()` function

In [2]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9]
names = ['Wyatt', 'Brandon', 'Kumar', 'Eugene', 'Elise']

# Apply the sort() function to the lists
numbers.sort()
names.sort()

# Display the output
print(numbers)
print(names)

[1, 2, 3, 4, 5, 8, 9, 12]
['Brandon', 'Elise', 'Eugene', 'Kumar', 'Wyatt']

In [6]:
character = ['Ling','Hao','Wei']

#character.sort()

print(character)

['Ling', 'Hao', 'Wei']

### The `shuffle()` function

In [17]:
import random

# Set a random seed so the code is reproducible
random.seed(1)

# Run the random.shuffle() function 5 times and display the outputs
for i in range(0,5):
    numbers = [3, 1, 4, 12, 8, 5, 2, 9]
    random.shuffle(numbers)
    print(numbers)

[12, 2, 1, 5, 9, 3, 8, 4]
[4, 2, 8, 3, 1, 12, 5, 9]
[4, 5, 1, 9, 3, 8, 12, 2]
[9, 12, 2, 8, 5, 3, 4, 1]
[9, 8, 4, 3, 12, 1, 5, 2]

In [19]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9]

# Apply the sort() function to the lists
numbers.sort(reverse=True)

# Display the output
print(numbers)

[12, 9, 8, 5, 4, 3, 2, 1]

In [41]:
character = ['Ling Hao Wei']

[len(i) for i in character]

#print(len(character))

[12]

In [42]:
test_str = 'Ling Hao Wei'

res = sum(not chr.isspace() for chr in test_str)

# printing result
print(str(res))

10